/*样式重置*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0;}  /* 初始化标签在所有浏览器中的margin、padding值 */  
fieldset,img {border:0 none;}  /* 重置fieldset（表单分组）、图片的边框为0*/  
dl,ul,ol,menu,li {list-style:none;}   /* 重置类表前导符号为onne,menu在HTML5中有效 */  
input,select,textarea,button {vertical-align:middle;border:none;outline:none;}  /* 重置表单控件垂直居中*/  
button {border:0 none;background-color:transparent;cursor:pointer}  /* 重置表单button按钮效果 */  
body,th,td,input,select,textarea,button {font-size:12px;line-height:1 ;font-family:"微软雅黑", "黑体","宋体";color:#666} /* 重置页面文字属性 */  
a {color:#666;text-decoration:none}  /* 重置链接a标签 */  
a:active, a:hover {text-decoration:none}   /* 重置链接a标签的鼠标滑动效果 */  
table {width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;}    /* 重置table属性 */  
img{vertical-align:top}  /* 图片在当前行内的垂直位置 */  

body {
  font-size: 16px;
  font-family: 'Microsoft YaHei', '\5FAE \8F6F \96C5\91';
  color: #444;
}

.bg_red{
  background-color: #fd5668;
}
.bg_blue{
  background-color: #40adf5;
}
.bg_orange{
  background-color: #faaa62;
}
.bg_green{
  background-color: #4fd2c3;
}
.bg_purple{
  background-color: #be89e8;
}

.red{
  color: #fd5668!important;
}
.blue{
  color: #40adf5!important;
}
.orange{
  color: #faaa62!important;
}
.green{
  color: #4fd2c3!important;
}
.purple{
  color: #be89e8!important;
}
.greenFont{
  color: #01bf86!important;
}
.right{
  background-color: rgba(253,86,104,0.3);
  color: #fff;
}
.wrong{
  background-color: rgba(253,86,104,1);
  color: #fff;
}
.halfWrong{
  background-color: rgba(253,86,104,0.5);
  color: #fff;
}

/*动画*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.modal_open{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@font-face {
    font-family: handWrite;
    src: url("scorettf.ttf");
}
input{
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  -webkit-appearance:none;
}
::-webkit-input-placeholder {
  font-size: 0.26rem;
  text-align: right;
  color:#e42222;
  opacity: 0.5;
}
:-moz-placeholder {
  font-size: 0.26rem;
  text-align: right;
  color:#e42222;
  opacity: 0.5;
}
::-moz-placeholder {
  font-size: 0.26rem;
  text-align: right;
  color:#e42222;
  opacity: 0.5;
}
:-ms-input-placeholder {
  font-size: 0.26rem;
  text-align: right;
  color:#e42222;
  opacity: 0.5;
}
.hidden{display: none!important;}

.lt {
  float: left;
}

.rt {
  float: right;
}
.pos_ab{
  position: absolute;
}
.pos_re{
  position: relative;
}

.clear {
  clear: both;
}

.btn{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.14rem;
  padding-right: 0.14rem;
  box-sizing: border-box;
  font-size: 0.28rem;
  text-align: center;
  text-decoration: none;
  color: #000000;
  line-height: 2.55555556;
  border-radius: 0.1rem;
  border: 1px solid #ccc;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.btn:active:after{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: rgba(0,0,0,0.3);
}

.primary{
  color: #ffffff;
  background-color: #01bf86!important;
  border-color: transparent;
}
.btn_disabled{
  color: rgba(0, 0, 0, 0.3);
  background-color: #F7F7F7;
}
.text_overflow{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*触摸反馈样式*/
.touchFeedback{position: relative;overflow:hidden;}
.ripple{
  position: absolute;
  z-index: 2000;
  width: 1vw !important;
  height: 1vw !important;
  border-radius: 100%;
  overflow: hidden;
  -webkit-animation:ripple .5s ease-in;
  animation:ripple .5s ease-in;
  animation-fill-mode: forwards;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(1);
     transform: scale(1);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(10);
     transform: scale(10);
    opacity: 0;
  }
}
 
@keyframes ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0;
  }
}


