.selectArea{
	position: absolute;
	width: 100%;
	height: 100%;
}
.selectArea .select_con{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0.2rem;
	box-sizing: border-box;
	color: #fff;
	z-index: 201;
}
.selectArea .selectTitle{
	font-size: 0.32rem;
	text-align: center;
	font-weight: normal;
}
.labelTitle{
	position: relative;
	color: #01bf86;
	font-size: 0.34rem;
	text-indent: 0.25rem;
	font-weight: normal;
	line-height: 1;
	padding-bottom: 0.2rem;
	margin-top: 0.2rem;
	border-bottom: 1px solid #01bf86;
}
.labelTitle:before{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 0.05rem;
	height: 1em;
	background-color: #01bf86;
}
.tobottom{
	position: relative;
	text-align: center;
	margin-top: -0.5rem;
	z-index: 201;
}
.tobottom img{
	width: 0.5rem;
}
.gradeWrap,.subjectWrap{
	overflow: hidden;
	line-height: 1;
}
.gradelist{
	float: left;
	padding: 0.1rem 0.3rem;
	border: 1px solid #fff;
	margin: 0.2rem;
}
.gradelist.selected{
	color: #01bf86;
	border-color: #01bf86;
}
.subjectlist{
	float: left;
	padding: 0.1rem 0.3rem;
	border: 1px solid #fff;
	margin: 0.2rem;
}
.subjectlist.selected{
	color: #01bf86;
	border-color: #01bf86;
}
.exams{
	padding: 0.2rem;
}
.examlist{}