<ion-view view-title="设置密码">
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear ud_color" ng-click="udr.goBack()">
                <i class="icon icon-left ion-ios-arrow-back"></i> 返回
            </button>
        </div>
        <h1 class="title ud_weight">设置密码</h1>
    </ion-header-bar>
    <ion-content style="padding-top: 25px;" scroll="false">
        <div class="list">
            <p class="item" style="display: flex;align-items: center;padding: 2px 16px">
                <input type="password"
                       style="border: none;
               background: transparent;flex-grow: 1;"
                       ng-model="passInfo.pass1"
                       placeholder="请输入密码(最少6个字符)">
                <i class="icon ion-close-circled"
                   ng-click="ud.inputEmpty('pass1')"
                   ng-show="passInfo.pass1"></i>
            </p>
        </div>
        <div class="list">
            <p class="item" style="display: flex;align-items: center;padding: 2px 16px">
                <input type="password"
                       style="border: none;
               background: transparent;flex-grow: 1;"
                       ng-model="passInfo.pass2"
                       placeholder="请再输入一次">
                <i class="icon ion-close-circled"
                   ng-click="ud.inputEmpty('pass2')"
                   ng-show="passInfo.pass2"></i>
            </p>
        </div>
        <button class="ud_btn" ng-click="ud.succ()">
            确认
        </button>
    </ion-content>
</ion-view>
