<ion-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear ud_color" ng-click="udr.goBack()">取消</button>
    </div>
    <h1 class="title ud_weight">登录</h1>
    <div class="buttons">
      <a class="button button-clear ud_color" href="#/forgotPw">找回密码</a>
    </div>
  </ion-header-bar>
  <ion-content style="padding-top: 20px" scroll="false">
      <div class="list" style="margin-bottom: 10px;">
        <p class="item" style="display: flex;align-items: center;padding: 2px 16px">
          <input type="text"
                 style="padding-left: 5px;border: none;
               background: transparent;flex-grow: 1;"
                 ng-model="loginData.mobile"
                 placeholder="请输入手机号">
          <i class="icon ion-close-circled"
             ng-click="ud.inputEmpty()" ng-show="loginData.mobile"></i>
        </p>
      </div>
      <div class="list" style="margin-bottom: 10px;">
        <p class="item" style="display: flex;align-items: center;padding: 2px 16px">
          <input type="password"
                 style="padding-left: 5px;border: none;
               background: transparent;flex-grow: 1;"
                 ng-model="loginData.pass"
                 placeholder="请输入密码(最少6个字符)">
          <i class="ion-ios-eye-outline eye" style="font-size: 25px;"
             ng-click="ud.showPass('#eye')" ng-show="loginData.pass" id="eye"></i>
        </p>
      </div>
      <div class="row" style="margin-bottom: 10px;" ng-if="code.state">
        <div class="col">
          <input type="text"
                 style="padding-left: 5px;border: none;
               background: transparent;"
                 ng-model="loginData.code"
                 placeholder="请输入图片中的验证码">
        </div>
        <div class="col">
          <img ng-src="{{code.codepath}}" alt="验证码" ng-click="code.getCode()">
        </div>
      </div>
    <button class="button button-full button-positive"
            ng-click="ud.doLogin()" style="margin-top: 20px">
      登录
    </button>
    <a class="button button-full button-dark"
            href="#/register" style="margin-top: 15px">
      注册
    </a>
  </ion-content>
</ion-view>
