body{
	background-color: #f5f5f5;
	font-size: 0.28rem;
	padding-bottom: 1.6rem;
}
.examInfo{
	text-align: center;
	color: #fff;
	padding-top: 0.5rem;
	padding-bottom: 0.9rem;
	background:url("../img/bg1.jpg") center center no-repeat;
	background-size: cover;
}
.examInfo .paperTitle{
	font-size: 0.42rem;
}
.examInfo .examReportInfo{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
	margin-top: 0.9rem;
	-webkit-box-pack: center;
   	-webkit-justify-content: center;
   	-ms-flex-pack: center;
	justify-content: center;
}
.examInfo .score,.examInfo .classRank,.examInfo .gradeRank{
	width: 2.4rem;
	border-right: 1px solid #fff;
	box-sizing: border-box;
	line-height: 1;
}
.examInfo .labelText{
	margin-bottom: 0.2rem;
}
.examInfo .gradeRank{
	border-right: 1px solid transparent;
}
.examInfo .scoreText,.examInfo .classRankText,.examInfo .gradeRankText{
	margin-top: 0.2rem;
	font-size: 0.58rem;
}
.reportPanel{
	margin-top: 0.05rem;
	padding: 0 0.2rem;
}
.reportPanel > div{
	margin-top: 0.2rem;
	padding-top: 0.3rem;
}

.chartTitle{
	position: relative;
	color: #333;
	font-size: 0.34rem;
	text-indent: 0.25rem;
	font-weight: normal;
	line-height: 1;
	padding-bottom: 0.08rem;
	margin-bottom: 0.1rem;
	border-bottom: 1px solid #eeeeee;
}
.chartTitle:after{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 0.05rem;
	height: 1em;
	background-color: #01bf86;
}
.rangeItem{
	margin-top: 0.2rem;
	padding-bottom: 0.3rem;
}
.range_con{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
   	-webkit-justify-content: space-between;
   	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 0.24rem;
}
.examRank,.examPaper{
	padding: 0 0.3rem;
	margin-top: 0.3rem;
}

.itemType{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
	flex-flow: row nowrap;
	-webkit-box-pack: justify;
   	-webkit-justify-content: space-between;
   	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	color: #666;
	margin-top: 0.2rem;
}
.typeText{
	display: inline-block;
	width: 1.6rem;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	color: #fff;
	background: #f00;
	border-top-left-radius: 0.1rem;
	border-bottom-left-radius: 0.1rem;
}
.itemType .score_info{
	width: 5.2rem;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
	-webkit-box-pack: justify;
   	-webkit-justify-content: space-between;
   	-ms-flex-pack: justify;
	justify-content: space-between;

}
.itemType .score_info_top{
	margin-bottom: 0.2rem;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
   	-webkit-justify-content: space-between;
   	-ms-flex-pack: justify;
	justify-content: space-between;
}
.questionAnalysis .sp_item:nth-child(5n+1) .typeText{
	background: #fd5668;
}
.questionAnalysis .sp_item:nth-child(5n+2) .typeText{
	background: #40adf5;
}
.questionAnalysis .sp_item:nth-child(5n+3) .typeText{
	background: #faaa62;
}
.questionAnalysis .sp_item:nth-child(5n+4) .typeText{
	background: #4fd2c3;
}
.questionAnalysis .sp_item:nth-child(5n+5) .typeText{
	background: #be89e8;
}
.questionAnalysis .sp_item:nth-child(5n+1) .progress_inner{
	background: #fd5668;
}
.questionAnalysis .sp_item:nth-child(5n+2) .progress_inner{
	background: #40adf5;
}
.questionAnalysis .sp_item:nth-child(5n+3) .progress_inner{
	background: #faaa62;
}
.questionAnalysis .sp_item:nth-child(5n+4) .progress_inner{
	background: #4fd2c3;
}
.questionAnalysis .sp_item:nth-child(5n+5) .progress_inner{
	background: #be89e8;
}
.itemType .score_info .totalScore{
	min-width: 4em;
	margin-right: 1em;
}
.itemType .score_info .getScore{
	min-width: 7em;
}
.tabBar,.backReport{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	color: #fff;
	text-align: center;
	border-top: 1px solid #f5f5f5;
	background-color: #01bf86;
	overflow: hidden;
}
.tabBar span{
	display: inline-block;
	float: left;
	width: 2.5rem;
	border-left: 1px solid #34cc9e;
	box-sizing: border-box;
}
.tabBar span:last-child{
	border-left: 1px solid transparent;
}

.sp_detail{
	display: none;
	margin-top:1em;
	line-height: 2;
}
.sp_detail .sp_title,.sp_detail .sp_list{
	overflow: hidden;
}
.sp_detail .sp_list{
	color: #fff;
	border-bottom: 1px solid #fff;
}
.sp_detail .sp_title,.knowledgeAnalysis .kp_title{
	font-size: 0.32rem;
}

.sp_detail span,.knowledgeAnalysis span{
	display: inline-block;
	float: left;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.knowledgeAnalysis{
	line-height: 2;
}
.knowledgeAnalysis .kdName{
	width: 40%;
	text-align: left;
}
.knowledgeAnalysis .kp_title,.knowledgeAnalysis .kp_list{
	overflow: hidden;
}

.sp_detail .sp_no{width: 20%;}
.sp_detail .sp_ts{width: 20%;}
.sp_detail .sp_score{width: 20%;}
.sp_detail .sp_kg{width: 40%;}

.knowledgeAnalysis .errorNum{width: 25%;}
.knowledgeAnalysis .errorNos{width: 20%;}
.knowledgeAnalysis .missScore{width: 15%;}
.knowledgeAnalysis .missPercent{width: 15%;}
.kp_con .progress{
	margin: 0.5em 0;
}

.knowledgeAnalysis .kp_list:nth-child(5n+1) .progress_inner{
	background: #fd5668;
}
.knowledgeAnalysis .kp_list:nth-child(5n+2) .progress_inner{
	background: #40adf5;
}
.knowledgeAnalysis .kp_list:nth-child(5n+3) .progress_inner{
	background: #faaa62;
}
.knowledgeAnalysis .kp_list:nth-child(5n+4) .progress_inner{
	background: #4fd2c3;
}
.knowledgeAnalysis .kp_list:nth-child(5n+5) .progress_inner{
	background: #be89e8;
}

.backBtn{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	border-top: 1px solid #f5f5f5;
}