body{
	/*background: #eee;*/
	font-size: 0.3rem;
	overflow: hidden;
	height:2rem;
}
.button{
	width:80%;
	height:0.8rem;
	background: #09BA07;
	border-radius: 0.1rem;
	border:none;
	outline:none;
	color:#FFFFFF;
	display:block;
	margin:0px auto;
	position:absolute;
	top:4rem;
	left:0px;
	right:0px;
}
.div{
	width:100%;
	height:1rem;
	background: #fff;
	position:absolute;
	top:1rem;
}
.div>p{
	width:30%;
	line-height: 1rem;
	color:#999;
	margin-left:0.1rem;
	box-sizing: border-box;
	margin-right:0.1rem;
}
.div>select{
	height:100%;
	width:60%;
	box-sizing:border-box;
	border:none;
}
