header{
	position: absolute;
	top: 0;
	width: 100%;
	height: 1.93rem;
	color: #ffffff;
	text-align: center;
	background-image: url('../img/bg1.jpg');
	background-position:center;
}

#classifyandgrade{
	width: 100%;
	margin:0.49rem auto 0.3rem auto;
	font-size: 0.38rem;
	font-weight: bold;
}

#papertitle{
	width: 100%;
	font-size: 0.28rem;
}

#papertitle:before{
	content: "试卷名称: ";
}

#classlist{
	padding-top:1.93rem;
	width: 100%;
	background: #f5f5f5;
}

.classitem{
	/* position: relative; */
	width: 100%;
	margin-top: 0.3rem;
	background: #ffffff;
	padding-bottom: 0.59rem;
}

/* .title{
	position: relative;
	height: 0.51rem;
	line-height: 0.51rem;
	color:#ffffff;
}

.title > span{
	z-index: 10;
}

.title:before{
	content: "";
	position: absolute;
	top:-0.09rem;
	left:0.2rem;
	width: 4.11rem;
	height: 0.51rem;
	background: url('../img/titlebg.png');
	background-repeat:no-repeat; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	z-index: 1;
} */

.title .label_left{
	display: inline-block;
	margin-top: -0.1rem;
	margin-left: 0.2rem;
	padding-left: 0.2rem;
	background: url("../img/titlebg_left.png") center left  no-repeat;
	background-size: contain;
	overflow: hidden;
} 
.title .label_text{
	display: inline-block;
	float: left;
	height: 0.5rem;
	color: #fff;
	line-height: 0.5rem;
	padding-left: 0.3rem;
	padding-right: 0.55rem;
	font-size: 0.28rem;
	background: #00aa7b;
	margin-left: -0.02rem;
}
.title .label_right{
	float: left;
	width: 0.25rem;
	height: 0.5rem;
	background: url("../img/titlebg_right.png") right center no-repeat;
	background-size: 100%;
	margin-left: -0.01rem;
}

.summarize{
	width: 100%;
	margin-top: 0.38rem;
	position: relative;
}

.summarize > div{
	display: inline-block;
	width: 32%;
	/* text-align: center; */
}



.summarizetitle{
	width: 100%;
	text-align: center;
	font-size: 0.28rem;
	color: #666666;
}

.summarizedetail{
	width: 100%;
	text-align: center;
	font-size: 0.26rem;
	margin-top: 0.2rem;
}

.summarize > div:first-child > .summarizedetail{
	color: #40adf5;
}

.summarize > div:nth-child(2) > .summarizedetail{
	color: #fd5668;
}

.summarize > div:nth-child(3) > .summarizedetail{
	color: #00aa7b;
}

.summarize > div:first-child:after{
	position: absolute;
	left:33%;
	top: 0.07rem;
	content: "";
	width: 1px;
	height: 0.8rem;
	background: #838282;
}

.summarize > div:nth-child(2):after{
	position: absolute;
	right:33%;
	top: 0.07rem;
	content: "";
	width: 1px;
	height: 0.8rem;
	background: #838282;
}

.summarizedetail > span{
	font-size: 0.45rem;
}

.topandlow{
	position: relative;
	margin-top: 0.54rem;
	padding-left:0.5rem;
	padding-right: 0.5rem;
}
.topandlow > div{
	display: inline-block;
	position: relative;
	width: 48%;
	text-align: center;
	font-size: 0.28rem;
	overflow: hidden;
}

.topandlow > div > div{
	position: relative;
	margin-left: auto;
	margin-right:auto;
}


.topandlow > div:first-child > div:before{
	position: absolute;
	top:50%;
	transform: translate(-200%,-50%);
	content: "";
	width: 0.1rem;
	height: 0.1rem;
	border-radius: 50%;
	-moz-border-radius: 50%;
  	-webkit-border-radius: 50%;
  	background: #faaa62;
}

.topandlow > div:nth-child(2) > div:before{
	position: absolute;
	top:50%;
	transform: translate(-200%,-50%);
	content: "";
	width: 0.1rem;
	height: 0.1rem;
	border-radius: 50%;
	-moz-border-radius: 50%;
  	-webkit-border-radius: 50%;
  	background: #fd5668;
}

.topfont,.lowfont{
	font-size: 0.3rem;
}

.topfont{
	color: #faaa62;
}

.lowfont{
	color: #fd5668;
}

.grap{/* 图 */
	margin-left: 0.2rem;
	margin-top: 0.4rem;
	width: 7.1rem;
	height: 4.14rem;
	background-image: url('../img/titlebg_right.png');
}


