body{
	background-color: #f5f5f5;
	font-size: 0.28rem;
	padding-bottom: 1.6rem;
}
.container{
	overflow: hidden;
}
.exercises{
	padding: 0.5rem 0.2rem;
}
.exercises .title{
	position: relative;
	color: #333;
	font-size: 0.34rem;
	text-indent: 0.25rem;
	font-weight: normal;
	line-height: 1;
	padding-bottom: 0.08rem;
	margin-bottom: 0.3rem;
	border-bottom: 1px solid #eeeeee;
}
.exercises .title:before{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 0.05rem;
	height: 1em;
	background-color: #01bf86;
}
.exercises .text{
	color: #666;
	font-size: 0.32rem;
}

.handle{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	color: #fff;
	font-size: 0.32rem;
	border-top: 1px solid #f5f5f5;
	background: #00aa7b;
	overflow: hidden;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
   	-webkit-justify-content: space-between;
   	-ms-flex-pack: justify;
	justify-content: space-between;
}
.handle button{
	min-width: 50%;
	flex-grow: 1;
	color: #fff;
	font-size: 0.32rem;
	border-left: 1px solid #fff;
}
.handle button:first-child{
	border-color: transparent;
}