body{
	font-size: 0.28rem;
	background: #f5f5f5;
}
.selectGrade{
	padding: 0.2rem 0.3rem;
	background-color: #fff;
	color: #bbbbbb;
	overflow: hidden;
}
.selectGrade.fixedTop{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
}
.grades{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	margin-right: -0.3rem;
}
.gradeList{
	width: 1.5rem;
	height: 0.5rem;
	line-height: 0.48rem;
	text-align: center;
	border: 1px solid #bbbbbb;
	border-radius: 0.05rem;
	margin-right: 0.3rem;
	margin-bottom: 0.2rem;
	box-sizing: border-box;
}
.gradeList:active,.gradeList.selected{
	color: #fff;
	border-color: transparent;
	background-color: #00aa7b;
}

.exams{
	margin-top: 0.3rem;
}

.examList{
	margin-bottom: 0.3rem;
	background: #fff;
}
.examList .gradeLabel{
	background: #fff;
	padding: 0 0.2rem;
}
.gradeLabel .lebel_left{
	display: inline-block;
	margin-top: -0.1rem;
	padding-left: 0.2rem;
	background: url("../img/titlebg_left.png") center left  no-repeat;
	background-size: contain;
	overflow: hidden;
}

.gradeLabel .label_text{
	display: inline-block;
	float: left;
	height: 0.5rem;
	color: #fff;
	line-height: 0.5rem;
	padding-left: 0.3rem;
	padding-right: 0.55rem;
	font-size: 0.28rem;
	background: #00aa7b;
	margin-left: -0.02rem;
}
.gradeLabel .label_right{
	float: left;
	width: 0.25rem;
	height: 0.5rem;
	background: url("../img/titlebg_right.png") right center no-repeat;
	background-size: 100%;
	margin-left: -0.01rem;
}
.examList .examTitle{
	font-size: 0.32rem;
	color: #00aa7b;
	margin-top: 0.3rem;
	padding: 0 0.2rem;
}
.examList .elprojectList{
	padding: 0.2rem 0.2rem 0.5rem;
	border-bottom: 1px solid #ccc;
}
.examList .elprojectList:last-child{
	border-color: transparent;
}

.exams .examBaseInfo{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
   	-webkit-justify-content: space-around;
   	-ms-flex-pack: justify;
	justify-content: space-around;
	font-size: 0.28rem;
	color: #333;
	text-align: center;
	line-height: 1.5;
}
.exams .examBaseInfo div{
	min-width: 2.2rem;
}

.exams .examBaseInfo .examProject{
	width: 2.2rem;
	height: 2.2rem;
	color: #fff;
	text-align: center;
	border-radius: 100%;
	background: #faaa62;
	border: 0.1rem solid #fde7d3;
	box-shadow: 0 0 0.2rem #fef6ef;
	line-height: 1;
}
.exams .examProject .projectText{
	font-size: 0.42rem;
	margin-top: 0.5rem;
	margin-bottom: 0.3rem;
}
.exams .examDetail{
	font-size: 0.26rem;
	color: #666;
	line-height: 2;
	margin-top: 0.4rem;
}
.exams .examDetail > p{
	position: relative;
	padding-left: 1em;
}
.exams .examDetail > p:before{
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	width: 0.08rem;
	height: 0.08rem;
	margin-top: -0.04rem;
	border-radius: 100%;
	background-color: #faaa62;
}
.exams .examBaseInfo .overNinety{
	color: #faaa62;
	font-size: 0.4rem;
}
.exams .examBaseInfo .pass{
	color: #00aa7b;
	font-size: 0.4rem;
}