.form{
	color: #333;
	padding: 0 0.2rem;
}
.form .labelText{
	font-size: 0.28rem;
}
.form .field{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
	flex-flow: row nowrap;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	height: 1rem;
	line-height: 1rem;
}
.field input{
	font-size: 0.26rem;
	/*line-height: 1rem;*/
	-webkit-box-flex: 1.0;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
	flex-item-align: center;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}
#code{
	margin-right: 0.3rem;
}
#getCode{
	flex-item-align: center;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	padding: 0.2rem 0.25rem;
	line-height: 1;
	font-size: 0.28rem;
	color: #fff;
	border-radius: 0.1rem;
	background: #01bf86;
	min-width: 5em;
    text-align: center;
    min-height: 1em;
}
.next{
	margin-top: 0.6rem;
}